.image-container-self{
  width: 100%;
  height: 300px;
  margin-top:25px;
}

.image-container-self img{
  width: 100%;
  height: 100%;
  object-fit:cover;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

mat-form-field {
  width: 100%;
}

