<div class="container whole-screen">

  <div class="row row-100 align-items-center">

    <div class="col-4 mx-auto">

      <div class="form-group d-flex justify-content-between homepage_btn">
        <button mat-stroked-button color="primary" type="button" routerLink="/startscreen">Homepage
        </button>
        <button mat-stroked-button color="primary" type="button" routerLink="/login">Log in</button>
      </div>

      <h1> Register new user</h1>

      <p class="label-category">Full Name</p>
      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input type="text" matInput [formControl]="personalInfoFormControl" placeholder="First Name"
               [(ngModel)]="newUser.firstName">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input type="text" matInput [formControl]="personalInfoFormControl" placeholder="Last Name"
               [(ngModel)]="newUser.surname">
        <mat-error *ngIf="personalInfoFormControl.hasError('required')">
          First- and Last name are <strong>required</strong>
        </mat-error>
      </mat-form-field>


      <p class="label-category">Contact Information</p>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" matInput [formControl]="emailFormControl" placeholder="Email" [(ngModel)]="newUser.email">
        <mat-icon matSuffix>email</mat-icon>
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Phone</mat-label>
        <input type="tel" matInput placeholder="Phone" [(ngModel)]="newUser.telephone">
        <mat-icon matSuffix>phone</mat-icon>
      </mat-form-field>

      <p class="label-category">Account Information</p>
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput [formControl]="accountInfoFormControl" placeholder="Username" [(ngModel)]="newAccount.username">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Enter your password</mat-label>
        <input matInput [formControl]="accountInfoFormControl" [type]="hide ? 'password' : 'text'"
               [(ngModel)]="newAccount.password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="accountInfoFormControl.hasError('required')">
          Username and password are <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <div class="form-group d-flex justify-content-center">
        <button mat-stroked-button color="primary" type="button" (click)="saveNewUser()">Register</button>
      </div>
      <div>
        <p id="message"> {{message}} </p>
      </div>
    </div>
    <div class="col-1"></div>
    <div class="col-7 mx-auto">
      <p class="map-message"> Click on the map below where you live!</p>
      <!--  FOR MAPS API    -->
      <div id="map"></div>
      <!--  END OF MAPS API -->
    </div>

  </div>


</div>


<!--SOME LAYOUT IN LOCAL CSS FILE-->
