<!--<div *ngIf="itemForSale">-->
<!--  <h2>{{itemForSale.title | uppercase}} | {{itemForSale.id}} Details &#45;&#45; ({{itemForSale.category}})</h2>-->
<!--  <h3>{{itemForSale.title}}</h3>-->
<!--&lt;!&ndash;  <div>hiero een afbeelding</div>&ndash;&gt;-->

<!--  <div><span>Omschrijving: </span>{{itemForSale.description}}</div>-->

<!--  <p>knoppen misschien handig voor een edit functie, later.</p>-->
<!--  <button (click)="goBack()">go back</button>-->
<!--&lt;!&ndash;  <button (click)="save()">save</button>&ndash;&gt;-->
<!--</div>-->


<h2>{{itemForSale.title | uppercase}}</h2>
