<div *ngIf="itemForSale">
  <h2>{{itemForSale.title | uppercase}} | Details</h2>
  <h3>Categorie: {{itemForSale.category}}</h3>
  <p>
    Item id: {{itemForSale.id}}<br>
    Omschrijving: <br>{{itemForSale.description}}
  </p>

  <div class="container row">
    <div class="col-lg-3 image-container-self" *ngFor="let image of this.itemForSale.images">
      <div>
        <img [src]="'data:' + image.type + ';base64,' + image.picByte">
      </div>
    </div>
  </div>

  <button (click)="goBack()">go back</button>
</div>

<div id="map" class="map" style="width:600px"></div>
<div id="popup" class="ol-popup">
  <a href="#" id="popup-closer" class="ol-popup-closer"></a>
  <div id="popup-content"></div>
</div>
