<app-navbar></app-navbar>

<div class="container whole-screen">

  <div class="row">
    <div class="col-6">
      <div *ngIf="itemForSale">
        <h1>{{itemForSale.title | uppercase}} | Details</h1>
        <h2>Categorie: {{itemForSale.category}}</h2>
        <p class="label-category">Item id: {{itemForSale.id}}</p><br>
        <p class="label-category">Omschrijving: {{itemForSale.description}}</p>
      </div>
    </div>
    <div class="col-6">
      <div id="map" class="map" style="width:600px"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3 image-container-self" *ngFor="let image of this.itemForSale.images">
      <div>
        <img [src]="'data:' + image.type + ';base64,' + image.picByte" alt="Afbeelding van item.">
      </div>
    </div>
  </div>

  <div class="row buttons">
    <button mat-stroked-button color="primary" type="button" routerLink="/startscreen">Terug</button>
    <a></a>
    <button mat-stroked-button color="primary" type="button" routerLink="/edit-ad/{{itemForSale.id}}">Edit</button>

    <app-messages></app-messages>
  </div>

</div>

<app-messages></app-messages>
