.text-align-center {
  text-align: center;
}

.product {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.left-widget {
  padding: 15px;
  background-color: #fffbe3;
}

.menu {
  padding-left: 15px;
  padding-right: 8px;
}

ul, li {
  list-style: none;
  padding-inline-start: 0;
}

.left-widget {
  height: 100%;
}

.buttons {
  margin-bottom: 25px;
}

.details_view{
  height: 100%;
}

.details_view .imagebox{
  height: 140px;
}

.details_view .imagebox img{
  height:100%;
  width:100%;
  object-fit: cover;
}

.details_view .contentbox {
  height: 150px;
}

.details_view mat-card-content textarea{
  height:90px;
  width: 100%;

}

.details_view mat-card-content p.description{
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


.images_view{
  height: 100%;
}

.images_view .imagebox{
  height: 140px;
  margin-bottom: 10px;
}

.images_view .imagebox img{
  margin-top: 10px;
  height:100%;
  width:100%;
  object-fit: cover;
}

.images_view mat-card-title{
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.images_view mat-card-header{
  height: 40px;
}
