.text-align-center {
  text-align: center;
}

.product {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.left-widget {
  padding: 15px;
  background-color: #fffbe3;
}

.menu {
  padding-left: 15px;
  padding-right: 8px;
}

ul, li {
  list-style: none;
  padding-inline-start: 0;
}

.left-widget {
  height: 100%;
}

.buttons {
  margin-bottom: 25px;
}

