<div class="container">
  <div class="row buttons">
    <div class="col-12">
      <div class="row">
        <div class="offset-9 col-1">
          <a routerLink="/create-ad">
            <button mat-raised-button color="accent" *ngIf="user !== undefined" routerLink="/create-ad">
              New ad
            </button>
          </a>
        </div>
        <div class="col-2">
          <button mat-raised-button color="primary" *ngIf="this.view ==='details'" (click)="this.view = 'pictures';">
            Change view to images!
          </button>
          <button mat-raised-button color="primary" *ngIf="this.view ==='pictures'" (click)="this.view = 'details';">
            Change view to details!
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-2 left-widget">
      <div class="row">
        <div class="col-12 menu">
          <h2>Groepen</h2>
          <ul>
            <li>
              <a [routerLink]="" (click)="this.filter = 'ALL'; search(this.filter, this.sortbyvalue)">Alles</a>
            </li>
            <li>
              <a [routerLink]="" (click)="this.filter = 'KNIKKERS'; search(this.filter, this.sortbyvalue)">Knikkers</a>
            </li>
            <li>
              <a [routerLink]=""
                 (click)="this.filter = 'POKEMONKAARTEN'; search(this.filter, this.sortbyvalue)">Pokemonkaarten</a>
            </li>
            <li>
              <a [routerLink]="" (click)="this.filter = 'FIETSEN'; search(this.filter, this.sortbyvalue)">Fietsen</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-10 products" *ngIf="this.view === 'details'">
      <div class="row">
        <div class="product col-3" *ngFor="let product of products">
          <a routerLink="/product/{{product.id}}">
            <mat-card class="product-card">
              <mat-card-header>
                <mat-card-title>{{product.title}}</mat-card-title>
                <mat-card-subtitle>{{product.category}}</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image *ngIf="this.product.images[0]"
                   [src]="'data:' + this.product.images[0].type + ';base64,' + this.product.images[0].picByte">
              <img mat-card-image *ngIf="!this.product.images[0]"
                   src="../../assets/default-img.gif">
              <mat-card-content>
                {{product.description}}<br><br>
                Prijs: €{{product.price}}<br>
                Verkoper: {{product.user.id}}<br>
              </mat-card-content>
              <mat-card-actions *ngIf="this.user !== undefined">
                <button input class="btn btn-light" (click)="delete(product.id)">DELETE</button>
                <a input class="btn btn-light" routerLink="/edit-ad/{{product.id}}">EDIT</a>
              </mat-card-actions>
            </mat-card>
          </a>
        </div>
      </div>
    </div>
    <div class="col-10 products" *ngIf="this.view === 'pictures'">
      <div class="row">
        <div class="product col-3" *ngFor="let product of products">
          <a routerLink="/product/{{product.id}}">
            <mat-card class="product-card">
              <mat-card-header>
                <mat-card-title>{{product.title}}</mat-card-title>
              </mat-card-header>
              <img mat-card-image *ngIf="this.product.images[0]"
                   [src]="'data:' + this.product.images[0].type + ';base64,' + this.product.images[0].picByte">
              <img mat-card-image *ngIf="!this.product.images[0]"
                   src="../../assets/default-img.gif">
              <mat-card-actions *ngIf="this.user !== undefined">
                <button input class="btn btn-light" (click)="delete(product.id)">DELETE</button>
                <a input class="btn btn-light" routerLink="/edit-ad/{{product.id}}">EDIT</a>
              </mat-card-actions>
            </mat-card>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


