<div class="container whole-screen">
  <div class="row align-items-center row-100">

    <div class="col-4 mx-auto">

      <div class="form-group d-flex justify-content-between homepage_btn">
        <button mat-stroked-button color="primary" type="button" routerLink="/startscreen">Homepage
        </button>
        <button mat-stroked-button color="primary" type="button" routerLink="/register">Register</button>
      </div>

      <h1> Log-in existing user</h1>

      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Username" [(ngModel)]="login.username">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="login.password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <div class="form-group d-flex justify-content-center">
        <button mat-stroked-button color="primary" type="button" (click)="tryLogin()">Log in</button>
      </div>

      <div class="form-group">
        <pre id="testString"> {{testString2}} {{user | json}}</pre>
      </div>

    </div>
  </div>
</div>


<!--SOME CSS IN LOCAL CSS FILE-->
