<script>
  var global = window; // fix global is undefined in socketjs-client
</script>

<p> Navbar for testing purposes </p>

<nav>
  <a routerLink="/startscreen">Startscreen</a>
  <a routerLink="/personal">Personal</a>
  <a routerLink="/login">Login</a>
  <a routerLink="/register">Register</a>
</nav>

<p>Hieronder in de HTML zit een router-outlet die doorstuurt naar de verschillende pagina's</p>

<router-outlet></router-outlet>

<input class="form-control" type="text" placeholder="message" [(ngModel)]="input">
<button class="btn btn-success" (click)="sendMessage()">Send</button>
<div class="content">
  <div *ngFor="let msg of messageService.msg">
    {{msg}}
  </div>
</div>

