<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/startscreen">Staalptkram</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link" routerLink="/startscreen">Startscreen<span class="sr-only">(current)</span></a>
      <a class="nav-link" routerLink="/personal">Personal</a>
      <a class="nav-link" routerLink="/login">Login</a>
      <a class="nav-link" routerLink="/register">Register</a>
    </div>
  </div>
</nav>

<!--<p>Hieronder in de HTML zit een router-outlet die doorstuurt naar de verschillende pagina's</p>-->


<!--<app-items-for-sale-list></app-items-for-sale-list>-->


<!--<app-item-for-sale></app-item-for-sale>-->


<!--<router-outlet></router-outlet>-->


<app-picture-upload-retrieve></app-picture-upload-retrieve>
