<div class="container row">
  <div class="col-md-12">
    <h1>Upload Image</h1>
  </div>
</div>

<div class="container row">
  <div class="col-md-6">
    <input type="file" (change)="onFileChanged($event)">
    <input type="number" class="form-control" id="product_id" placeholder="Product ID" [(ngModel)]="productID"
           name="productID"/>
  </div>
  <div class="col-md-6">
    <input type="button" (click)="onUpload()" value="upload">
  </div>
</div>
<hr/>

<div class="container row">
  <div class="col-md-12">
    <div *ngIf=message>{{message}}</div>
  </div>
</div>

<div class="container row">
  <div class="col-md-6">
    <input type="text" class="form-control" id="name" placeholder="image ID" [(ngModel)]="imageID"
           name="imageID"/>
    <input type="text" class="form-control" id="product-ID" placeholder="product ID" [(ngModel)]="productID"
           name="productID"/>
  </div>
  <div class="col-md-6">
    <input type="button" (click)="getImage()" value="Get Image"></div>
</div>

<div class="container row">
  <div class="col-md-12" *ngFor="let image of this.product.images">
<!--        <p> {{image.picByte}}</p>-->
    <!--  <div class="col-md-12">-->
    <div>
      <!--      <p> data:image/jpeg;base64,{{image.picByte}} </p>-->
      <img [src]="'data:' + image.type + ';base64,' + image.picByte">
      <!--      <img [src]="'data:image/jpeg;base64,' + this.retrievedImage">-->

    </div>
  </div>

</div>
