<div class="container row">
  <div class="col-lg-6">
    <input type="text" class="form-control" id="product-ID" placeholder="product ID" [(ngModel)]="productID"
           name="productID"/>
  </div>
  <div class="col-lg-6">
    <input type="button" (click)="getProduct()" value="Get images with this productID"></div>
</div>

<!--DEZE CODE HIERONDER OM EEN FOTO OF MEERDERE FOTOS TE TONEN-->

<div class="container row">
  <div class="col-lg-3" *ngFor="let image of this.product.images">
    <div>
      <img [src]="'data:' + image.type + ';base64,' + image.picByte">
    </div>
  </div>
</div>
